
body {
  background-image: url("http://img1.juimg.com/190317/323075-1Z31G92R28.jpg");
  background-size: cover;
}

.landing {
  text-align: center;
  padding-top: 280px;
}

body h1 {
  padding-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url("");
    background-color: black; 
  }
}
	
